<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/theme.css" type="text/css">
  <style>
    html,body {height:100%; margin:0; padding:0;}
    .signout_cursor:hover {cursor:pointer;}
  </style>
  <title><%= __('title') %></title>
</head>

<body style="display: flex; flex-direction: column;">
  <div style="flex-grow: 1">
    <!-- ko / en -->
    <nav class="navbar navbar-expand-md navbar-light border-bottom border-gray bg-light" >
      <div class="container">
        <a class="navbar-brand" href="/"><img class="img-fluid" src="images/title_water_re.png" style="width:100px";></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLightSupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbarLightSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item mx-1">
              <% if (cookie_lang === 'ko') { %>
                <a class="nav-link nav_pointer" style="font-weight: bold;"><u>ko</u></a>
              <% } else { %>
                <a class="nav-link nav_pointer" href="/users/ko">ko</a>
              <% } %>
            </li>
            <li class="nav-item mx-1">
              <% if (cookie_lang === 'en') { %>
                <a class="nav-link nav_pointer" style="font-weight: bold;"><u>en</u></a>
              <% } else { %>
                <a class="nav-link nav_pointer" href="/users/en">en</a>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="pt-3">
      <div class="container">
        <div class="row" >
          <div class="col-3"></div>
          <div class="col-6">
            <h2 class="text-center"><%= __('title') %></h2>
            <hr>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </div>

    <div class="pt-3">
      <div class="container">
        <div class="row" >
          <div class="col-3"></div>
          <div class="col-6">
            <a class="text-muted signout_cursor" id="signout" style="font-size: 20px;"><%= __('admin_logout') %></a>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </div>

    <!-- 준비 버튼 박스 -->
    <div class="pb-5 text-center">
      <div class="container">
        <div class="row">
          <div class="mx-auto col-md-6 bg-white p-5 border border-info rounded" >
            <div class="row">
              <div class="col-md-12">
                <h1 class="mb-4"><%- description %></h1>
              </div>
            </div>
            <% if (user_status != 0) { %>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <% if (user_status == 1) { %>
                  <button type="button" class="btn btn-info btn-block mt-5" id="status_button"><%= __('user_ready') %></button>
                <% } else if (user_status == 2) { %>
                  <button type="button" class="btn btn-info btn-block mt-5 active" id="status_button"><%= __('user_wait') %></button>
                <% } %>
              </div>
              <div class="col-md-2"></div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="pt-2 border-top border-gray bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>© 2020 Cournot. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="javascripts/users_socket.js"></script>
  <script>
    $(function() {
      users_socket.connect_user('<%= now_user_id %>');

      $('#status_button').click( function() {
        $(this).prop('disabled',true);
        setTimeout(function(){
          $('#status_button').prop('disabled',false);
        }, 1000); // 1 second delay
        
        var now_status_var;
        if ($(this).hasClass('active'))
          now_status_var = 1;
        else
          now_status_var = 2;
        
        $.ajax({
          type : 'POST',
          url : '/users/change_status',
          data : {now_status:now_status_var},
          success : function(result) {
            if (now_status_var === 1) {
              $('#status_button').removeClass('active');
              if ('<%= cookie_lang %>' == 'ko')
                $('#status_button').html('준비');
              else
                $('#status_button').html('ready');
            }
            else {
              $('#status_button').addClass('active');
              if ('<%= cookie_lang %>' == 'ko')
                $('#status_button').html('대기');
              else
                $('#status_button').html('wait');
            }
          }
        });
      });

      $('#signout').click( function() {
        if ('<%= cookie_lang %>' == 'ko')
          var yes_or_no = confirm('로그아웃 하시겠습니까?');
        else
          var yes_or_no = confirm('Are you sure you want to log out?');
        if (yes_or_no)
          location.replace('/users/signout');
      });

    });
    </script>
</body>

</html>